<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="4">

        <div id="qrImage">
          <div class="d-flex-center">
            <div class="d-flex-center qr-wrapper">
              <qr-code [value]="qrText" size="180" errorCorrectionLevel="M">

              </qr-code>

              <ion-icon id="qr-icon" color="light" name="qr-code-outline"></ion-icon>
            </div>
          </div>

          <div class="ion-padding-top ion-text-center">
            {{ qrText }}
          </div>
        </div>


        <ion-textarea
          label="Describe tu codigo QR"
          labelPlacement="stacked"
          fill="outline"
          rows="2"
          [autoGrow]="true"
          [(ngModel)]="qrText"
        >
        </ion-textarea>

        <ion-button
          class="ion-padding ion-margin-top"
          expand="full"
          size="large"
          shape="round"
        >
          <ion-icon name="shared-outline" slot="end"></ion-icon>
          Share QR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
